$padding: 10px;

// Popup.
.mind-popup {
	position: relative;
	top: 15%;
	margin-top: 0;
	width: 550px;
	max-height: clamp(0px, 440px, 75vh);
	border-radius: 10px;
	color: #000;

	&.is-full-screen {
		top: 40px;
	}

	.components-modal__content {
		padding: 0;
		overflow: hidden;

		> div {
			display: flex;
			flex-direction: column;
			height: 100%;
		}
	}
}
.mind-popup-overlay {
	// Upper then dropdown.
	z-index: 1000001;
}
