.mind-popup-loading-text::after {
	content: "...";
	display: inline-block;
	text-align: left;
	min-width: 13px;
	animation: mind-popup-loading-text 1s infinite;
}

@keyframes mind-popup-loading-text {
	0%,
	100% {
		content: "...";
	}
	25% {
		content: "";
	}
	50% {
		content: ".";
	}
	75% {
		content: "..";
	}
}
