.mind-toolbar-toggle svg {
	color: var(--mind-brand-color);
}

.mind-toolbar-dropdown {
	--wp-admin-theme-color: var(--mind-brand-darken-color);

	.components-button.has-icon.has-text {
		gap: 10px;
	}

	// Emoji.
	span[role="img"] {
		margin-right: 6px;
		font-size: 18px;
		vertical-align: middle;
	}
}

.mind-toolbar-dropdown-toggle {
	width: 100%;

	button {
		gap: 10px;
		width: 100%;
		padding-left: 8px;
		padding-right: 8px;

		svg:last-child {
			margin-left: auto;
			width: 20px;
			height: auto;
		}
	}
}
