$color: #e455df;
$popup_padding: 20px;

.mind-toolbar-icon {
	color: $color;
	width: 20px;
	height: 20px;
}

.mind-toolbar-dropdown-wrapper {
	width: 100%;

	button {
		width: 100%;
		padding-left: 8px;
		padding-right: 8px;

		.dashicon {
			margin-left: auto;
		}
	}
}

// Button in editor Toolbar.
.mind-editor-toolbar-toggle {
	flex: 100%;
	white-space: nowrap;

	button {
		color: $color;

		&:hover,
		&:focus {
			color: $color;
			background: rgba($color, 5%);
		}
	}

	svg {
		margin-top: -2px;
		margin-right: 6px;
		margin-bottom: -2px;
	}
}

// Popup.
.mind-popup {
	width: 800px;
	margin-top: 100px;
	background-color: rgb(243, 243, 243);
	box-shadow: 0 0 2px 0 rgba(0, 0, 0, 20%), 0 25px 70px 10px rgba(0, 0, 0, 25%);
	border: 1px solid rgba(255, 255, 255, 40%);

	.components-modal__header {
		padding: 24px $popup_padding 12px;
	}
	.components-modal__content {
		padding: 0 $popup_padding $popup_padding;
	}
}
.mind-popup-overlay {
	background-color: rgba(143, 135, 143, 25%);
}
