.mind-popup-notice {
	padding: 10px;
	border-radius: 6px;
	border: 1px solid #bebebe;
	background-color: #f4f4f4;
	color: #434343;
}

.mind-popup-notice-error {
	background-color: #fff5f5;
	border-color: #eaacac;
	color: #7c3939;
}
